<section>
    <h2>
        {{#each takes as |take|}}
        {{take.title}}
        <hr>
        {{take.description}}
        <textarea></textarea>
        {{/each}}
    </h2>
    <header>
            
            <h1 class="latest">Recent</h1>
            {{#each (reverse theTakes) as |blog|}}
                <div class="newBlogs">
                    <h2 class="bTitle">{{blog.title}}<span class="timestamp">@{{format_time blog.createdAt }}</span></h2>
                    <p class="bDescript">{{blog.description}}  <br> 
                    </p>
                    <p class="theUserName"><span class="postedBy">posted by: </span>{{blog.usertake.username}}</p>
                    <img onclick="makeComment({{blog.id}})" class="commentBubble"  src="/img/two-speech-bubbles.png" alt="">
                    <label class="userComments"><span class="userCommentsLabel"><button class="vuCommentsBtn" onclick="vuComs({{blog.id}})">Comments({{comments.length}})</button></span><br>    
                    <input class="hide commentArea" id="theComment{{blog.id}}" placeholder="Replying to: {{blog.usertake.username}}" type="text">
                    </label>
                    <input class="userId" value="{{user_id}}">
                    <input class="commentUserName" value="{{../theUser}}">
                    <input class="blogId" value="{{blog.id}}">
                    <input class="blogUserName" id="blogUserName{{blog.id}}" value="{{blog.usertake.username}}">
                    {{#if ../isMember}}
                    <input class="hide commentTheBtn" id="theBtn{{blog.id}}" type="SUBMIT" onclick="makeAComment({{blog.id}})">
                    {{/if}}
                    <div class="hide commentsBox" id="showComs{{blog.id}}"><p class="userComments">{{#with blog}} {{#each comments}} {{comment_username}}: <span class="commentDescript">{{description}}</span><br> {{/each}} {{/with}}</p></div>
                </div>
                {{/each}}
        </header>
       
        <footer>&copy;SirRel1</footer>
   
<script src="/js/nuComment.js"></script>
</section>