<section>
    <h2>
        {{#each takes as |take|}}
        {{take.title}}
        <hr>
        {{take.description}}
        <textarea></textarea>
        {{/each}}
    </h2>
    <header>
            
            <h1 class="latest">Recent</h1>
            {{#each (reverse theTakes) as |blog|}}
                <div class="newBlogs">
                    <h2 class="bTitle">{{blog.title}}</h2>
                    <p class="bDescript">{{blog.description}}  <br> 
                    </p>
                    {{!-- <button class="del" onclick=theDelete({{blog.id}}) name={{blog.id}}>Remove</button> --}}

                </div>
                {{/each}}
        </header>
        <footer>&copy;SirRel1</footer>
   

</section>