<section>
    <h2>
        {{#each takes as |take|}}
        {{take.title}}
        <hr>
        {{take.description}}
        <textarea></textarea>
        {{/each}}
    </h2>
    <header>
            
            <h1 class="latest">Recent</h1>
            {{#each (reverse theTakes) as |blog|}}
                <div class="newBlogs">
                    <h2 class="bTitle">{{blog.title}}<span class="timestamp">@{{format_time blog.createdAt }}</span></h2>
                    <p class="bDescript">{{blog.description}}  <br> 
                    </p>
                    <p class="theUserName"><span class="postedBy">posted by: </span>{{blog.usertake.username}}</p>
                    <img onclick="makeComment({{blog.id}})" class="commentBubble"  src="/img/two-speech-bubbles.png" alt="">
                    <input class="hide commentArea" id="{{blog.id}}" placeholder="Comment Here..." type="text">
                </div>
                {{/each}}
        </header>
        <footer>&copy;SirRel1</footer>
   
<script src="/js/nuComment.js"></script>
</section>